.calculation {
  display: flex;
  margin-top: 20px;
  align-items: flex-start;
  margin-bottom: 60px;
  justify-content: flex-start;
  &__hint {
    padding: 40px 30px 40px 15px;
    margin-right: 40px;
    line-height: 24px;
    @include hint-style;
    width: 106px;
    min-width: 106px;
  }
  &__form {
    padding: 25px 50px;
    border-radius: 5px;
    background-color: rgb(249, 249, 249);
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.42);
    width: 928px;
    min-width: 928px;
  }
  &__form-input {
    border-bottom: 1px solid #b6b6b6;
    padding-left: 11px;
  }
  &__form-input-title {
    font-size: 18px;
    line-height: 24px;
  }
  &__investition-label {
    margin-right: 10px;
  }
  &__form-input-summ {
    margin-bottom: 30px;
    border: 2px solid #003a3c;
    border-radius: 25px;
    background-color: rgb(249, 249, 249);
    height: 25px;
    text-align: center;
    padding: 0 5px;
    font-size: 18px;
    line-height: 18px;
    font-weight: bold;
    color: #28626a;
    width: 170px;
  }
  &__form-output {
    display: flex;
    margin-top: 25px;
    margin-bottom: 50px;
    &-tariff-name {
      margin: 0;
      font-size: 18px;
      line-height: 24px;
    }
  }
  &__form-output-value {
    font-size: 24px;
    line-height: 1px;
    color: #28616a;
    font-weight: bold;
    padding-left: 10px;
  }
  &__form-output-hint {
    @include hint-style;
    padding: 20px 25px 20px 15px;
    margin: 0 35px 0 11px;
    width: 150px;
    align-self: flex-start;
  }
  &__form-output-result {
    background: linear-gradient(to top, rgba(255, 255, 255, 0.81), rgba(255, 255, 255, 0.81)) no-repeat,
    linear-gradient(to bottom, rgba(2, 105, 112, 0.53) 0%, rgba(255, 185, 225, 0.53) 100%) no-repeat,
    url("../img/result-bg.jpg") no-repeat;
    border-radius: 5px;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.42);
    width: 388px;
    height: 110px;
    padding: 30px;
    margin-right: 30px;
  }
  &__form-output-button {
    align-self: flex-end;
  }
}