.page-header {
  position: relative;
  width: 100%;
  height: 700px;
  max-width: 1900px;
  min-width: 1200px;
  margin: 0 auto;
  &__navigation {
    position: absolute;
    width: 100%;
    top: 33px;
    z-index: 2;
    border: 1px solid transparent;
  }
  &__navigation-container {
    display: flex;
    justify-content: space-between;
    margin: 0 33px;
  }
  &__navigation-item {
    width: 40px;
    height: 36px;
    &--menu {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }
    &--menu:hover {
      cursor: pointer;
    }
  }
}
.burger__line {
  height: 1px;
  background-color: white;
  margin-bottom: 11px;
  &--first {
    width: 40px;
  }
  &--second {
    width: 35px;
  }
  &--third {
    width: 30px;
  }
}
.slider {
  height: 700px;
  overflow: hidden;
  &__wrapper {
    display: flex;
    height: 100%;
    transform: translateX(0);
    transition: transform 500ms ease-in-out;
  }
  &__text-wrapper {
    transform: skewX(15deg);
    margin-left: 200px;
    margin-top: 220px;
  }
  &__item {
    position: relative;
    width: 100%;
    flex-shrink: 0;
    overflow: hidden;
    &--first {
      background: url('../img/slide-first.jpg') no-repeat;
      background-size: cover;
    }
    &--second {
      background: url('../img/slide-second.jpg') no-repeat;
      background-size: cover;
    }
    &--third {
      background: url('../img/slide-third.jpg') no-repeat;
      background-size: cover;
    }
    &-title {
      font-size: 24px;
      line-height: 36px;
      font-weight: 500;
    }
    &-description {
      font-size: 60px;
      line-height: 72px;
      margin-top: 25px;


    }
  }
  &__item-layer {
    height: 100%;
    background-color: white;
    position: absolute;
    width: 85%;
    opacity: 0.83;
    left: -100px;
    transform: skewX(-15deg);
    box-shadow: inset -20px 0px 29px -10px rgba(0, 0, 0, 0.61);


  }
  &__dots {
    display: flex;
    position: absolute;
    bottom: 33px;
    right: 33px;
    align-items: center;
  }
  &__control-dot {
    margin-right: 15px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #f1f2f6;
    position: relative;
    &:hover {
      cursor: pointer;
    }
    &.current {
      width: 8px;
      height: 8px;
      background-color: #ffb5ce;
    }
    &.current::after {
      position: absolute;
      content: "";
      width: 20px;
      height: 20px;
      background-color: transparent;
      border: 1px solid #ffb5ce;
      border-radius: 50%;
      transform: translate(-30%, -30%);
    }
  }

}

.social-icons {
  position: absolute;
  display: flex;
  bottom: 33px;
  left: 33px;
  &__icon {
    width: 21px;
    height: 20px;
    margin-right: 20px;
    a {
      display: block;
      height: 100%;
    }
    &--inst {
      background: url('../img/inst-icon.png') no-repeat center;
    }
    &--vk {
      background: url('../img/vk-icon.png') no-repeat center;
    }
    &--fb {
      background: url('../img/fb-icon.png') no-repeat center;
    }
  }

}

