.calculation {

  &__input-range {
    -webkit-appearance: none;
    width: 639px ;
    display: block;
    margin: 30px 0 10px 0;
    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      box-sizing: border-box;
      height: 16px;
      margin: 3px 7px 3px;
      border-radius: 7px;
      background-image: linear-gradient(36deg, rgb(206, 206, 206) 30%, rgb(104, 156, 159) 40%, rgb(2, 105, 112) 50%);
      box-shadow: 0 3px 13px 0 rgba(1, 2, 2, 0.17);
      width: 312px;
    }
    &::-moz-range-thumb {
      box-sizing: border-box;
      height: 16px;
      border-radius: 7px;
      background-image: linear-gradient(36deg, rgb(206, 206, 206) 30%, rgb(104, 156, 159) 40%, rgb(2, 105, 112) 50%);
      box-shadow: 0 3px 13px 0 rgba(1, 2, 2, 0.17);
      width: 312px;
      border: none;
    }
    &::-ms-thumb {
      box-sizing: border-box;
      height: 16px;
      margin: 3px 7px 3px;
      border-radius: 7px;
      background-image: linear-gradient(36deg, rgb(206, 206, 206) 30%, rgb(104, 156, 159) 40%, rgb(2, 105, 112) 50%);
      box-shadow: 0 3px 13px 0 rgba(1, 2, 2, 0.17);
      width: 312px;
    }

    &::-webkit-slider-runnable-track {
      display: block;
      border-radius: 10px;
      background-color: #d7d7d7;
      width: 639px;
      padding-right: 10px;
      outline: none;
    }
    &::-moz-range-track {
      border-radius: 10px;
      background-color: #d7d7d7;
      width: 639px;
      height: 19px;
      margin: 30px -10px 20px 0;
      outline: none;
    }
    &::-ms-track {
      border-radius: 10px;
      display: block;
      width: 100%;
      height: 19px;
      cursor: pointer;
      background: transparent;
      border-color: transparent;
      color: transparent;
    }
    &::-ms-fill-lower {
      background: #d7d7d7;
      border-radius: 10px;
    }
    &::-ms-fill-upper {
      background: #d7d7d7;
      border-radius: 10px;
    }
    &::-ms-tooltip {
      display: none;
    }
    &:hover {
      cursor: pointer;
    }
  }
}