html {
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
}

body {
  font-size: $fontSize;
  font-family: $mainFont;
  color: $mainFontColor;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

*, ::after, ::before {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: #000;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container-center {
  max-width: 1280px;
  padding: 0 100px;
  margin: 0 auto;
}

.btn {
  width: 170px;
  height: 30px;
  border: none;
  background-color: $mainColor;
  color: white;
  font-size: 12px;
  line-height: 24px;
  font-family: $mainFont;
  border-radius: 25px;
  margin-top: 10px;
  &:hover {
    cursor: pointer;
  }
}
.tariff-plans__item-wrapper.special-margin {
  margin-bottom: 30px;
}

.button-highlight{
  transition: all 0.2s ease-in-out;
  position: relative;
  overflow: hidden;
  &:before {
    content: "";
    background-image:linear-gradient( 90deg, rgb(2,105,112) 0%, rgb(206,206,206) 50%, rgb(2,105,112) 100%);
    height: 100%;
    width: 50%;
    display: block;
    position: absolute;
    top: 0;
    transform: skewX(45deg) translateX(-100px);
    overflow: hidden;
  }
  &:hover {
    &:before {
      transform: skewX(45deg) translateX(230px);
      transition: all 0.3s ease-in-out;
    }
  }
}
.tariff-plans__item-button.button-highlight {
  &:before {
    background-image: linear-gradient(90deg, #003a3c 0%, rgb(206, 206, 206) 50%, #003a3c 100%);
  }
}