.breadcrumbs {
  display: flex;
  font-size: 16px;
  line-height: 22px;
  margin: 20px 0 50px;
  width: 250px;
  &__item {
    margin-right: 20px;
    font-weight: bold;
    &--index {
      position: relative;
      font-weight: normal;
      &::after {
        content: '>';
        position: absolute;
        right: -16px;
      }
    }
  }
}
.tariff-plans {
  display: flex;
  justify-content: flex-start;
  &__table {
    width: 928px;
    min-width: 928px;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.42);
    border-radius: 4px;
    background-color: #f9f9f9;
    border-spacing: 0;
  }
  &__table td {
    position: relative;
  }
  tr:not([data-display]){
    display: none;
  }
  .active-row:not([data-display]) {
    display: table-row;
  }
  .borderBottom {
    border-bottom: 1px solid #b6b6b6;
  }
  &__personal-trainer-marker,
  &__item-marker,
  &__quartal-yield-marker,
  &__income-summ-marker,
  &__cashback-marker,
  &__personal-manager-marker,
  &__allow-marker,
  &__copy-deal-marker{
    @include hint-style;
    text-align: left;
    height: calc(100% + 2px);
    position: absolute;
    top: -1px;
    left: -147px;
    width: 147px;
    padding: 20px;
    line-height: 24px;
    font-size: 13px;
    font-weight: normal;
    color: black;
    box-shadow: inset -15px 0 10px  -15px rgba(0, 0, 0, 0.42) /*inset 0px 0 8px 0 rgba(0, 0, 0, 0.42)*/;
  }
  &__item-marker {
    position: static;
    padding: 25px 30px 25px 15px;
    margin-right: 40px;
    box-shadow: none;
    width: 106px;
    min-width: 106px;
  }
  td:nth-child(1), td:nth-child(2) {
    border-right: 1px solid #b6b6b6;
  }
  td.tariff-plans__item {
  border-right: transparent;
  }
  &__item-name {
    font-size: 18px;
    line-height: 24px;
    margin: 0;
  }
  &__item-hint {
    text-transform: uppercase;
    margin: 0;
    padding-top: 5px;
  }
  &__item-description {
    font-size: 14px;
    line-height: 18px;
    padding: 10px 15px 0;
  }
  &__item-wrapper {
    width: 280px;
    margin: 20px 13px 0 13px;
    text-align: center;
    padding: 30px 0 35px;
    border-radius: 5px;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.42);
    &--bg-first {
      background: linear-gradient(to top, rgba(255, 255, 255, 0.81), rgba(255, 255, 255, 0.81)),
      linear-gradient(to bottom, rgba(2, 105, 112, 0.53) 0%, rgba(255, 185, 225, 0.53) 50%, rgba(2, 105, 112, 0.53) 100%),
      url("../img/tax-first.jpg") no-repeat;
      background-size: auto, auto, cover;
    }
    &--bg-second {
      background: linear-gradient(to top, rgba(255, 255, 255, 0.81), rgba(255, 255, 255, 0.81)),
      linear-gradient(to bottom, rgba(2, 105, 112, 0.53) 0%, rgba(255, 185, 225, 0.53) 50%, rgba(2, 105, 112, 0.53) 100%),
      url("../img/tax-second.jpg") no-repeat;
      background-size: auto, auto, cover;
    }
    &--bg-third {
      background: linear-gradient(to top, rgba(255, 255, 255, 0.81), rgba(255, 255, 255, 0.81)),
      linear-gradient(to bottom, rgba(2, 105, 112, 0.53) 0%, rgba(255, 185, 225, 0.53) 50%, rgba(2, 105, 112, 0.53) 100%),
      url("../img/tax-third.jpg") no-repeat;
      background-size: auto, auto, cover;
      margin-right: 13px;
    }
  }
  &__quartal-yield {
    position: relative;
  }
  &__quartal-yield-value,
  &__income-summ-value,
  &__cashback-value,
  &__copy-deal-value,
  &__personal-trainer-value {
    text-align: center;
    padding: 25px 0;
    font-size: 24px;
    color: #28626a;
    font-weight: bold;
  }
  &__personal-manager-value, &__allow-value {
    padding: 35px 0;
  }
  &__cashback-value {
    padding: 15px 0;
  }

  &__enable {
    position: relative;
    display: block;
    height: 21px;
    width: 21px;
    border-radius: 50%;
    background-color: #ffb5ce;
    margin: 0 auto;
    &::after {
      position: absolute;
      top: 45%;
      left: 10%;
      -webkit-transform: rotate(45deg) translate(-50%, -50%) scaleX(-1);
      transform: rotate(45deg) translate(-50%, -50%) scaleX(-1);
      content: "L";
      color: white;
      font-weight: 500;
      font-size: 16px;
    }
  }
  &__hide {
    text-align: center;
  }
  &__hide td:last-child {
    border-bottom: none;
    border-right: none;
  }
  &__hide-button {
    color: black;
    background-color: #026970;
    margin: 20px 0;
    text-align: center;
  }
}


